# Data contents
data/*
!data/Brazil_COVID/

data/Brazil_COVID/*
!data/Brazil_COVID/covid_normalised_numericalised.csv
!data/Brazil_COVID/Brazil_Labelled_Map.png
!data/Brazil_COVID/Brazil_COVID_data.md

# Tutorials
Tutorials/checkpoints/*
Tutorials/saved_models/*
Tutorials/workspace/*
Tutorials/private_notebook_code